{% extends 'base.html' %}
{% block content %}
<main class="px-3 mb-5 mt-5">

  {% include 'trending.html' %}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Small (18 x 24 inches)</h5>
            <p class="card-text">Price: $10</p>
            <p class="card-text">This size is great for adding some visual interest to a smaller space or for grouping with other smaller art pieces.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Medium (24 x 36 inches)</h5>
            <p class="card-text">Price: $20</p>
            <p class="card-text">This is a popular size for movie posters as it is large enough to make an impact on a wall, but not so large that it takes over the entire space.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Large (27 x 40 inches)</h5>
            <p class="card-text">Price: $30</p>
            <p class="card-text">This size is great for filling up a large wall space or for making a bold statement in a room.</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <div class="card">
    <img src="card-image.jpg" class="card-img-top" alt="Card Image">
    <div class="card-body">
      <h5 class="card-title">200 Tokens</h5>
      <p class="card-text">Purchase 200 tokens for $1.</p>
      <form method="POST" action="{% url 'purchase_tokens' %}">
        {% csrf_token %}
        <input type="hidden" name="token_count" value="200">
        <button type="submit" class="btn btn-primary">Purchase</button>
      </form>
    </div>
  </div>
  
  
  
</main>

{% endblock %}






