{% extends 'base.html' %}



{% block content %}
  <h1>Favorites</h1>
  
  
  {% if movies %}
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>Title</th>
          <th>Poster</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for movie in movies %}
        <tr>
          <td class="favorite-movie-title">{{ movie.title }}</td>
          <td><img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}" style="max-width:100px;"></td>
          <td>
            <form method="post" action="{% url 'delete_movie' movie.id %}">
              {% csrf_token %}
              <button type="submit" onclick="deleteMovie(event, '{{ movie.id }}')" class="btn btn-danger">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>You have no favorite movies.</p>
  {% endif %}
  

  <script>
    function deleteMovie(event, movieId) {
      event.preventDefault();
      if (confirm('Are you sure you want to delete this movie?')) {
        fetch(`/delete-movie/${movieId}/`, { method: 'POST', headers: { 'X-CSRFToken': '{{ csrf_token }}' } })
          .then(() => location.reload())
          .catch(error => console.error('Error deleting movie:', error));
      }
    }
  </script>
{% endblock %}

