body {
    background-color: #222529;
    color: white;
}

.card-title{
    color: black;
}

.favorite-movie-title{
    color: white;
}

.table{
    color: white !important;
    
}
.card-text{
    color: black;
}

.cart-poster-image{
    max-width: 100px;
    max-height: 100px;
}

.gold-coins{
    max-width: 350px;
}


.coin-card{
    width: 18rem;
    margin: auto;
}